<ion-app>
  
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Choose what best describes you
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-content [fullscreen]="true">
      <ion-card class = "image">
      <ion-card class="img">
        <p>
          Are You a Teacher who is available to assist and teach students or get job?
        </p><br>
      <ion-button routerLink = "/login">
        Yes
      </ion-button>
      </ion-card>
      
   
    
      <ion-card class="img">
        <p>
          Are You a Student or Institution looking for teachers?
      
        </p>
        <br>
        <ion-button routerLink = "/user-login">
      Yes      </ion-button>
      </ion-card>
     </ion-card>
  </ion-content>
  
</ion-app>


